.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbar{

  background-color: rgb(67 0 86);

}

#logo{

  margin-left: 15px;

  color: white;

  font-size: 25px;

  font-weight: bold;

  margin-bottom: 6px;

}

#logo span{

  color: #ffc800;

}

#logo #span1{

  font-size: 30px;

}

.navbar-nav{

  margin-left: 20px;

}

.nav-item{

  margin-left: 10px;

}

.nav-item .nav-link{

  color: white;

  margin-left: 2px;

  text-shadow: 0px 0px 1px black;

  transition: 0.5s ease;

}

.nav-item .nav-link:hover{

  color: #ffc800;

}

.dropdown-menu li Link{

  color: white;

  transition: 0.5s ease;

}

.dropdown-menu li Link:hover{

  background-color: rgb(67 0 86);

  color: #ffc800;

}

#search input{

  border-radius: 50px;

  border: none;

}

#search button{

  border-radius: 50px;

  color: white;

  border: 1px solid #ffc800;

  background-color: #ffc800;

}
